[tool.poetry]
name = 'syrupy'
license = 'Apache-2.0'
version = "4.8.3"
description = 'Pytest Snapshot Test Utility'
authors = ['Noah Ulster']
readme = 'README.md'
packages = [{ include = 'syrupy', from = 'src' }]
classifiers = [
    'Development Status :: 5 - Production/Stable',
    'Framework :: Pytest',
    'Intended Audience :: Developers',
    'Operating System :: OS Independent',
    'Programming Language :: Python :: 3',
    'Programming Language :: Python :: 3.8',
    'Programming Language :: Python :: 3.9',
    'Programming Language :: Python :: 3.10',
    'Programming Language :: Python :: 3.11',
    'Programming Language :: Python :: 3.12',
    'Programming Language :: Python :: 3.13',
    'Topic :: Software Development :: Libraries',
    'Topic :: Software Development :: Testing',
    'Topic :: Utilities',
]
repository = 'https://github.com/syrupy-project/syrupy'
include = ['src/syrupy/**/*']

[tool.poetry.plugins.pytest11]
syrupy = 'syrupy'

[tool.poetry.dependencies]
python = '>=3.8.1'
pytest = '>=7.0.0,<9.0.0'

[tool.poetry.group.test.dependencies]
invoke = '^2.0.0'
coverage = { version = '^7.6.1', extras = ['toml'] }
pytest-benchmark = '^4.0.0'
pytest-xdist = '^3.1.0'

[tool.poetry.group.dev.dependencies]
mypy = '^1.0.1'
py-githooks = '^1.1.1'
twine = '^5.1.1'
semver = '^3.0.0'
setuptools-scm = '^8.0.0'
debugpy = '^1.6.6'
ruff = '>=0.7.0'

[tool.pytest.ini_options]
addopts = '-p syrupy -p pytester -p no:legacypath --doctest-modules'
testpaths = ['tests']
xfail_strict = true

[tool.coverage.run]
source = ['./src']

[tool.coverage.report]
exclude_lines = ['pragma: no-cover', 'if TYPE_CHECKING:', '@abstractmethod']

[tool.ruff]
line-length = 88
target-version = "py38"

[tool.ruff.lint]
extend-select = [
  "A", # flake8-builtins
  "B", # flake8-bugbear
  "C4", # flake8-comprehensions
  "I", # isort
  "UP", # pyupgrade
]

[build-system]
requires = ['poetry-core>=1.9.0']
build-backend = 'poetry.core.masonry.api'
