[tool.poetry]
name = 'syrupy'
license = 'Apache-2.0'
version = "4.3.0"
description = 'Pytest Snapshot Test Utility'
authors = ['Top Hat Open Source <opensource@tophat.com>']
readme = 'README.md'
packages = [{ include = 'syrupy', from = 'src' }]
classifiers = [
    'Development Status :: 5 - Production/Stable',
    'Framework :: Pytest',
    'Intended Audience :: Developers',
    'Operating System :: OS Independent',
    'Programming Language :: Python :: 3',
    'Programming Language :: Python :: 3.8',
    'Programming Language :: Python :: 3.9',
    'Programming Language :: Python :: 3.10',
    'Programming Language :: Python :: 3.11',
    'Programming Language :: Python :: 3.12',
    'Topic :: Software Development :: Libraries',
    'Topic :: Software Development :: Testing',
    'Topic :: Utilities',
]
repository = 'https://github.com/tophat/syrupy'
include = ['src/syrupy/**/*']

[tool.poetry.plugins.pytest11]
syrupy = 'syrupy'

[tool.poetry.dependencies]
python = '>=3.8.1,<4'
pytest = '>=7.0.0,<8.0.0'

[tool.poetry.group.test.dependencies]
invoke = '^2.0.0'
coverage = { version = '^7.0.5', extras = ['toml'] }
pytest-benchmark = '^4.0.0'
pytest-xdist = '^3.1.0'

[tool.poetry.group.dev.dependencies]
isort = '^5.12.0'
black = '^23.1.0'
mypy = '^1.0.1'
py-githooks = '^1.1.1'
flake8 = '^6.0.0'
flake8-bugbear = '^23.2.13'
flake8-builtins = '^2.1.0'
flake8-comprehensions = '^3.10.1'
twine = '^4.0.2'
semver = '^3.0.0'
setuptools-scm = '^7.1.0'
debugpy = '^1.6.6'

[tool.black]
line-length = 88
target-version = ['py310']
include = '\.pyi?$'
exclude = '''
(
  /(
      \.eggs         # exclude a few common directories in the
    | \.git          # root of the project
    | \.hg
    | \.mypy_cache
    | \.tox
    | \.vscode
    | \.venv
    | \.poetry
    | syrupy.venv
    | _build
    | buck-out
    | build
    | dist
  )/
  | foo.py           # also separately exclude a file named foo.py in
                     # the root of the project
)
'''

[tool.isort]
force_grid_wrap = 2
known_first_party = 'syrupy'
profile = 'black'
skip = '''
.eggs,
.mypy_cache,
.venv,
syrupy.venv,
.poetry,
build,
dist,
'''

[tool.pytest.ini_options]
addopts = '-p syrupy -p pytester -p no:legacypath --doctest-modules'
testpaths = ['tests']

[tool.coverage.run]
source = ['./src']

[tool.coverage.report]
exclude_lines = ['pragma: no-cover', 'if TYPE_CHECKING:', '@abstractmethod']

[build-system]
requires = ['poetry-core>=1.4.0']
build-backend = 'poetry.core.masonry.api'
