[tool.poetry]
name = 'syrupy'
license = 'Apache-2.0'
version = "4.7.2"
description = 'Pytest Snapshot Test Utility'
authors = ['Noah Ulster']
readme = 'README.md'
packages = [{ include = 'syrupy', from = 'src' }]
classifiers = [
    'Development Status :: 5 - Production/Stable',
    'Framework :: Pytest',
    'Intended Audience :: Developers',
    'Operating System :: OS Independent',
    'Programming Language :: Python :: 3',
    'Programming Language :: Python :: 3.9',
    'Programming Language :: Python :: 3.10',
    'Programming Language :: Python :: 3.11',
    'Programming Language :: Python :: 3.12',
    'Programming Language :: Python :: 3.13',
    'Topic :: Software Development :: Libraries',
    'Topic :: Software Development :: Testing',
    'Topic :: Utilities',
]
repository = 'https://github.com/syrupy-project/syrupy'
include = ['src/syrupy/**/*']

[tool.poetry.plugins.pytest11]
syrupy = 'syrupy'

[tool.poetry.dependencies]
python = '>=3.9'
pytest = ">=8.0.0"

[tool.poetry.group.test.dependencies]
invoke = "^2.2.0"
coverage = { version = "^7.6.3", extras = ['toml'] }
pytest-benchmark = "^4.0.0"
pytest-xdist = "^3.6.1"

[tool.poetry.group.dev.dependencies]
isort = "^5.13.2"
black = "^24.10.0"
mypy = "^1.12.0"
py-githooks = "^1.1.1"
flake8 = "^7.1.1"
flake8-bugbear = "^24.8.19"
flake8-builtins = "^2.5.0"
flake8-comprehensions = "^3.15.0"
twine = "^5.1.1"
semver = "^3.0.2"
setuptools-scm = "^8.1.0"
debugpy = "^1.8.7"

[tool.black]
line-length = 88
target-version = ['py310']
include = '\.pyi?$'
exclude = '''
(
  /(
      \.eggs         # exclude a few common directories in the
    | \.git          # root of the project
    | \.hg
    | \.mypy_cache
    | \.tox
    | \.vscode
    | \.venv
    | \.poetry
    | syrupy.venv
    | _build
    | buck-out
    | build
    | dist
  )/
  | foo.py           # also separately exclude a file named foo.py in
                     # the root of the project
)
'''

[tool.isort]
force_grid_wrap = 2
known_first_party = 'syrupy'
profile = 'black'
skip = '''
.eggs,
.mypy_cache,
.venv,
syrupy.venv,
.poetry,
build,
dist,
'''

[tool.pytest.ini_options]
addopts = '-p syrupy -p pytester -p no:legacypath --doctest-modules'
testpaths = ['tests']

[tool.coverage.run]
source = ['./src']

[tool.coverage.report]
exclude_lines = ['pragma: no-cover', 'if TYPE_CHECKING:', '@abstractmethod']

[build-system]
requires = ['poetry-core>=1.9.1']
build-backend = 'poetry.core.masonry.api'
