name: Syrupy CICD

on: [push]

env:
  CI: 1

jobs:
  build:
    name: Build
    runs-on: ubuntu-18.04
    strategy:
      matrix:
        python-version: [3.6, 3.7]
      fail-fast: true
    steps:
    - uses: actions/checkout@v1
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install python dev dependencies.
      run: |
        python -m pip install -U pip --no-cache-dir
        python -m pip install -e . -r requirements.txt -r dev-requirements.txt
    - name: Lint
      run: invoke lint
    - name: Test
      env:
        CODECOV_TOKEN: 282b0064-e377-478b-834c-b8de1a3ee4c4
      run: invoke test --coverage
    - name: Build Python 3.x
      if: matrix.python-version != '3.7'
      run: invoke build
    - name: Release Python 3.7
      env:
        TWINE_USERNAME: ${{ secrets.TWINE_USERNAME }}
        TWINE_PASSWORD: ${{ secrets.TWINE_PASSWORD }}
      if: matrix.python-version == '3.7'
      run: invoke release --no-dry-run
